<div class="row">
  <div class="col-md-4 col-md-offset-4" id="devise-menu">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.<br>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %><br>
    <em>Log in to generate links even faster!</em>
  <% end %>
  </div>
</div>
<% if notice %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 notice">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 alert">
      <%= alert %>
    </div>
  </div>
<% end %>
