<%= form_for(@link) do |f| %>
  <div class="field">
    <%= f.label 'Amazon Url' %><br>
    <%= f.number_field :amzn_url %>
  </div>
  <div class="field">
    <%= f.label 'Affiliate Tag' %><br>
    <%= f.text_field :aff_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
