<div id="main-container" class="container">
  <div class="row">

    <div class="col-md-9 article-wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2 article-left-sidebar">
              <%= image_tag @link.sm_img_url, alt: @link.name %> <br \>
              <div class="sales-rank">
              <% if @link.sales_rank %>
                <div class="sales-rank-number"><%= @link.sales_rank %></div>
                Best Seller Rank<br>
                <% if @link.sales_rank > 0 && @link.sales_rank < 100 %>
                  <i class="glyphicon glyphicon-fire"></i>
                  <i class="glyphicon glyphicon-fire"></i>
                  <i class="glyphicon glyphicon-fire"></i>
                <% elsif @link.sales_rank >= 100 && @link.sales_rank < 500 %>
                  <i class="glyphicon glyphicon-fire"></i>
                  <i class="glyphicon glyphicon-fire"></i>
                <% else %>
                  <i class="glyphicon glyphicon-fire"></i>
                <% end %>
                <div id="sales-rank-whats-this"><%= link_to "What's this?", "http://www.amazon.com/gp/help/customer/display.html?nodeId=525376", target: "_blank" %></div>
              <% end %>
              </div>
            </div>
            <div class="col-md-10">
              <h1><%= @link.name %></h1>

              <div class="grouped-fields">
                Affiliate link:
                <%= text_field_tag "Affiliate link", @link.amzn_aff_url, id: "amzn_aff_link" %>
                <!-- Copy link js/swf button START -->
                <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='amzn_aff_link' data-clipboard-text='Nothing copied.' id='clip_button'  title='Click me to copy to clipboard.'>Copy</button>
                <script>
                  $(document).ready(function() {
                    var zero = new ZeroClipboard($("#clip_button"))
                    $(zero.htmlBridge).tooltip({title: "copy to clipboard", placement: 'bottom'});
                  });
                </script>
                <!-- Copy link js/swf button END -->
                <%= link_to "Test link", 'https://affiliate-program.amazon.com/gp/associates/network/tools/link-checker/main.html', class: "btn btn-default btn-xs", target: "_blank"%>
              </div>
              <div class="grouped-fields">
                Small image:
                <%= text_field_tag "Small image", @link.sm_img_url, id: "sm_img_url" %>
                <!-- Copy link js/swf button START -->
                <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='sm_img_url' data-clipboard-text='Nothing copied.' id='clip_button_one'  title='Click me to copy to clipboard.'>Copy</button>
                <script>
                  $(document).ready(function() {
                    var one = new ZeroClipboard($("#clip_button_one"))
                    $(one.htmlBridge).tooltip({title: "copy to clipboard", placement: 'bottom'});
                  });
                </script>
                <!-- Copy link js/swf button END -->
              </div>
              <div class="grouped-fields">
                Medium image:
                <%= text_field_tag "Medium image", @link.med_img_url, id: "med_img_url" %>
                <!-- Copy link js/swf button START -->
                <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='med_img_url' data-clipboard-text='Nothing copied.' id='clip_button_two'  title='Click me to copy to clipboard.'>Copy</button>
                <script>
                  $(document).ready(function() {
                    var two = new ZeroClipboard($("#clip_button_two"))
                    $(two.htmlBridge).tooltip({title: "copy to clipboard", placement: 'bottom'});
                  });
                </script>
                <!-- Copy link js/swf button END -->
              </div>
              <div class="grouped-fields">
                Large image:
                <%= text_field_tag "Large image", @link.lg_img_url, id: 'lg_img_url' %>
                <!-- Copy link js/swf button START -->
                <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='lg_img_url' data-clipboard-text='Nothing copied.' id='clip_button_three'  title='Click me to copy to clipboard.'>Copy</button>
                <script>
                  $(document).ready(function() {
                    var three = new ZeroClipboard($("#clip_button_three"))
                    $(three.htmlBridge).tooltip({title: "copy to clipboard", placement: 'bottom'});
                  });
                </script>
                <!-- Copy link js/swf button END -->
              </div>
              <div class="grouped-fields">
                Reviews url:
                <%= text_field_tag "Reviews", @link.reviews_url, id: 'reviews_url' %>
                <!-- Copy link js/swf button START -->
                <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='reviews_url' data-clipboard-text='Nothing copied.' id='clip_button_four'  title='Click me to copy to clipboard.'>Copy</button>
                <script>
                  $(document).ready(function() {
                    var four = new ZeroClipboard($("#clip_button_four"))
                    $(four.htmlBridge).tooltip({title: "copy to clipboard", placement: 'bottom'});
                  });
                </script>
                <!-- Copy link js/swf button END -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 generate-box">
          <strong>Generate Another Link</strong>
          <%= render 'form_new_from_show' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 feature-box">
          <div class="feature-msg">
            <h4>Peregrin helps you quickly generate Amazon affiliate links.</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 feature-box">
          <div class="feature-msg">
            <h2>How does it work?</h2>
              <div class="how-it-works-horizontal">
                <h3><i class="glyphicon glyphicon-link"></i></h3>
                1. Paste an Amazon product URL
              </div>
              <div class="how-it-works-horizontal">
                <h3><i class="glyphicon glyphicon-briefcase"></i></h3>
                2. Enter your Amazon affiliate tag
              </div>
              <div class="how-it-works-horizontal">
                <h3><i class="glyphicon glyphicon-flash"></i></h3>
                3. Click "Generate"
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
