<div id="main-container" class="container">
  <div class="row">

    <div class="col-md-9 article-wrapper">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2 article-left-sidebar">
              <%= image_tag @link.sm_img_url, alt: @link.name %> <br \>
              <div class="sales-rank">

                <div class="sales-rank-number"><%= @link.sales_rank %></div>
                Sales Rank<br>
                <% if @link.sales_rank > 0 && @link.sales_rank < 100 %>
                  <i class="glyphicon glyphicon-fire"></i>
                  <i class="glyphicon glyphicon-fire"></i>
                  <i class="glyphicon glyphicon-fire"></i>
                <% elsif @link.sales_rank >= 100 && @link.sales_rank < 500 %>
                  <i class="glyphicon glyphicon-fire"></i>
                  <i class="glyphicon glyphicon-fire"></i>
                <% else %>
                  <i class="glyphicon glyphicon-fire"></i>
                <% end %>
              </div>
            </div>
            <div class="col-md-10">
              <h1><%= @link.name %></h1>

              <div class="grouped-fields">
                Affiliate link:
                <%= text_field_tag "Affiliate link", @link.amzn_aff_url, id: "amzn_aff_link" %>
                <%= link_to "test link", 'https://affiliate-program.amazon.com/gp/associates/network/tools/link-checker/main.html' %>
              <div class='demo-area'>
                <button class='my_clip_button' data-clipboard-target='amzn_aff_link' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
                  <b>Copy To Clipboard...</b>
                </button>
              <script>
                $(document).ready(function() {
                  var clip = new ZeroClipboard($("#d_clip_button"))
                });
              </script>
              </div>

              </div>
              <div class="grouped-fields">
                Small image:
                <%= text_field_tag "Small image", @link.sm_img_url %>
              </div>
              <div class="grouped-fields">
                Medium image:
                <%= text_field_tag "Medium image", @link.med_img_url %>
              </div>
              <div class="grouped-fields">
                Large image:
                <%= text_field_tag "Large image", @link.lg_img_url %>
              </div>
              <div class="grouped-fields">
                Reviews url:
                <%= text_field_tag "Reviews", @link.reviews_url %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 generate-box">
          <strong>Generate Another Link</strong>
          <%= render 'form_new_from_show' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 feature-box">
          <div class="feature-msg">
            <h4>Peregrin helps you quickly generate Amazon affiliate links.</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 feature-box">
          <div class="feature-msg">
            <h2>How does it work?</h2>
              <div class="how-it-works-horizontal">
                <h3><i class="glyphicon glyphicon-link"></i></h3>
                1. Paste an Amazon product URL
              </div>
              <div class="how-it-works-horizontal">
                <h3><i class="glyphicon glyphicon-briefcase"></i></h3>
                2. Enter your Amazon affiliate tag
              </div>
              <div class="how-it-works-horizontal">
                <h3><i class="glyphicon glyphicon-flash"></i></h3>
                3. Click "Generate"
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
