<!DOCTYPE html>
<html>
<head>
  <title>PeregrineApp | The fastest way to generate Amazon affiliate links.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="logo-wrapper">
    <%= image_tag "peregrine.svg", id: "logo" %>Peregrine

    </div>
  </div>
<%= yield %>

</body>
</html>
