<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Peregrine | The fastest way to generate Amazon affiliate links.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="logo-wrapper">
    <a href="/"><%= image_tag "peregrine.svg", id: "logo-img" %> Peregrine</a>
    <div id="logo-tag">
      Amazon Affiliate Link Generator
    </div>
  </div>
<%= yield %>

</body>
</html>
