<!DOCTYPE html>
<html>
<head>
  <title>Peregrine | The fastest way to generate Amazon affiliate links.</title>

  <%= favicon_link_tag 'favicon.ico', type: 'image/x-icon' %>
  <%= favicon_link_tag 'favicon.ico', rel: "icon", type: 'image/x-icon' %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="corner-ribbon-wrapper"><a href="http://github.com/gbanis/peregrine" target="_blank" class="corner-ribbon">BETA</a></div>
  <div id="logo-wrapper">
    <a href="/"><%= image_tag "peregrine.svg", id: "logo-img" %> Peregrine</a>
    <div id="logo-tag">
      Amazon Affiliate Link Generator
    </div>
  </div>
<%= render 'shared/login_items' %>
<%= yield %>

</body>
</html>
